*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
.toolbar {
    background-color:#2d3436;
    height: 10vh;
    display: flex;
    align-items: center;
}
.filter-container{
    background-color:#636e72;
    width: 18vw;
    height: 60%;
    display: flex;
    margin-left: 10rem;
    border-radius: 0.2rem;
}

.action-conatainer{
    width: 9vw;
    height: 60%;
    display: flex;
    margin-left: 8rem;
    background-color:#636e72;
    border-radius: 0.2rem;
}
.filter{
    width: 25%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.icon-container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.filter_color{
    width:35%;
    height:40%;
    border-radius: 0.2rem;
}

.filter_color.pink{
    background-color: pink;
}

.filter_color.blue{
    background-color:blue;
}

.filter_color.green{
    background-color:aqua;
}

.filter_color.black{
    background-color:black;
}
.fas{
    font-size:1.80rem;
    color:#2d3436;
}

.main-task-area{
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}


/* model container designing*/

.model_container{
    width: 36rem;
    height: 18rem;
    position: absolute;
    display: flex;
    left: 15vw;
    top: 10vh;
}

.input_container{
    width: 73%;
    height: 100%;
}

.modal_filter_color{
    width:27%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #444;
    padding: 1.7rem 1.2rem;
}

.modal_filter{
    width:60%;
    height:15%;
}

.modal_filter.pink{
    background-color: palevioletred;
}

.modal_filter.blue{
    background-color:blue;
}
.modal_filter.green{
    background-color:green;
}
.modal_filter.black{
    background-color:black;
}

.modal_input{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 2rem 3rem;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    line-height: 145%;
    font-weight: 400;
}

.border{
    border: 1rem solid white;
}